body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 600;
  margin-left: 200px;
}

.promo {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  align-items: center;
  padding: 100px 10px;
  margin: 0px;
  gap: 50px;
}

.promo-text {
  margin-left: 200px;
}

.promo-content {
  font-size: 18px;
  color: #E5E7EB;
}

.info {
  text-align: center;
}

.tile-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-tile {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-placeholder {
  height: 150px;
  width: 150px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 260px;
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.attribution {
  align-self: flex-end;
  font-weight: 700;
  font-size: 24px;
}

button {
  background-color: #3882F6;
  border: none;
  padding: 8px;
  font-size: 18px;
  color: #E5E7EB;
  border-radius: 8px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px 200px 0px 0px;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

img  {
  height: 300px;
  width: auto;
  margin-right: 200px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #1F2937;
}